body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #1B1B1B;
  overflow: hidden;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

div {
  padding: 0px;
  margin: 0px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.733); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.centered-container {
  background: #313131;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: grid;
  width: 50%;
  grid-gap: 5px;
}
