body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #1B1B1B;
  overflow: hidden;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

div {
  padding: 0px;
  margin: 0px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.733); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.centered-container {
  background: #313131;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: grid;
  width: 50%;
  grid-gap: 5px;
}

.base-grid {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.frame-grid {
  position: relative;
  display: flex;
  align-items: center;
  -webkit-app-region: drag;
  background-color: #2B2B2B;
  padding: 5px 10px;
}

.frame-button-container {
  position: absolute;
  right: 10px;
}

.frame-button-container button {
  -webkit-app-region: no-drag;
  font-size: 12px;
  padding: 5px 10px;
}

h1,h2,h3,h4,h5,h6 {
  padding: 0px;
  margin: 0px;
  color: #ececec;
}

.container {
  background-color: #313131;
  border-radius: 3px;
  text-align: center;
  padding: 5px 10px;
  display: grid;
  grid-gap: 5px;
}

.list-container {
  display: grid;
  grid-gap: 5px;
  align-content: start;
  overflow: auto;
  border-radius: 3px;
}

button {
  background-color: #414141;
  border-style: none;
  color: white;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #252525
}

button.disable {
  background-color: transparent;
  color: rgb(100, 100, 100);
}

button.disable:hover{
  pointer-events: none;
}

.app-content-grid {
  display: grid;
  background-color: #1B1B1B;
  grid-template-columns: 2fr 3fr;
  grid-gap: 7px;
  margin: 7px;
  overflow: hidden;
}

.nav-button {
  background-color: transparent;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 14px;
}

.nav-button.active {
  background-color: #313131;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: var(--scrollbar-color);
  -webkit-box-shadow: inset 0 0 6px #9593D9;
  cursor:pointer;
}

.button-header-container {
  position: relative;
  display: flex;
  align-items: center;
}

.button-header-container .slim-button {
  position: absolute;
  right: 0;
  margin-top: 3px;
}

.button-header-container select {
  position: absolute;
  right: 0;
  margin-top: 3px;
  min-width: 100px;
}

.button-header-container h3, h4 {
  text-align: center;
  flex: 1;
}

.slim-button {
  background-color: transparent;
  color: #7C90DB;
  border-style: none;
  padding: 5px;
}

.slim-button:hover{
  color: #889ADE;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
  background-color: #252525;
  color: #9593D9;
  border-radius: 3px;
  border-style: none;
  outline: none; /* Remove the focus outline */
  min-width: 0;
  transition: box-shadow 0.3s ease-in-out;
  padding: 5px 10px;
}

input.error {
  box-shadow: inset 0px 0px 5px #ff2b2b;
}

.graph-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
}

.canvas-grid {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
}

.inner-container {
  background-color: #252525;
  border-radius: 10px;
  display: grid;
  box-shadow: inset 0px 0px 5px #0e0e0e;
}

select {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
  background-color: #252525;
  color: #9593D9;
  border-radius: 3px;
  border-style: none;
  padding: 3px;
  outline: none; /* Remove the focus outline */
  min-width: 0;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

select.error {
  box-shadow: inset 0px 0px 5px #ff2b2b;
}

.project-content-grid {
  display: grid;
  background-color: #1B1B1B;
  grid-template-rows: auto 1fr;
  grid-gap: 7px;
  margin: 7px;
  overflow: hidden;
}

.project-header-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid: 5px;
  text-align: center;
}

.project-header-container .slim-button {
  padding: 10px;
}

.project-view-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
  overflow: hidden;
}

.project-view-content-left {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 5px;
  overflow: hidden;
}

.project-view-content-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
}

.project-inputs-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 5px;
}

.value-inputs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  align-items: center;
}

.value-inputs input[type=number]::-webkit-inner-spin-button,
.value-inputs input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.log-container {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.log-content {
  display: grid;
  background-color: #1B1B1B;
  border-radius: 5px;
  align-content: start;
  overflow: auto;
}

.log-content .item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
  padding: 2px 5px;
  cursor: pointer;
}

.log-content .item:nth-child(even){
  background-color: #1B1B1B;
}

.log-content .item:nth-child(odd){
  background-color: #272727;
}

.log-content .item:hover {
  background-color: #2c2c2c; /* Adjust the desired hover background color */
}

.log-content .item:hover h6 {
  filter: brightness(1); /* Reset the brightness for the text */
}

.log-content .item h6 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.overlay-log-info {
  display: grid;
  grid-gap: 5px;
}

.overlay-log-info h5:nth-child(even){
  background-color: #1f1f1f;
  border-radius: 5px;
  padding: 10px;
}

.graph-options-grid {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 5px;
  padding: 10px;
  background-color: #1B1B1B;
  border-radius: 5px;
}

.graph-options-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  align-items: center;
  cursor: pointer;
  padding: 0px 5px;
}

.graph-options-item h5,
.graph-options-item h6 {
  color: gray;
}

.graph-options-item h5.active,
.graph-options-item h6.active {
  color: #7C90DB;
}
